<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<html lang="en">
		<title>TKKMA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main-min.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <meta name="description" content="Taekwondo Kickboxing Korean Martial Arts. TKKMA can help you increase your functional and natural fitness. With the combination of Boxing and Taekwondo techniques you will be learning how to block, kick and Punch, along with Aerobic training and more">
    <meta name="keywords" content="Taekwondo, Kickboxing, Freestyle Taekwondo, Freestyle Kickboxing, Boxing, Matial Arts, Bristol, North Common, Fitness, TKKMA Bristol Martial Arts">
    <meta name="author" content="TKKMA">
	</head>
	<body>
		<div id="wrapper">
		<!-- Main -->
		    <div id="main">
		        <div class="inner">

		            <!-- Header -->
		                <header id="header">
		                    <a href="{{ path_for('homepage') }}" class="logo"><strong>TKKMA</strong></a>
		                    <ul class="icons">
		                        <li><a href="https://twitter.com/tkkmartialarts" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		                        <li><a href="https://www.facebook.com/taekwondokickboxingkoreanmartialarts?ref=hl" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		                    </ul>
		                </header>
